body{
	font-size:62.5%;
	font-family:"Verdana", sans-serif;
	color:#666;
	background:/*url(images/grid.gif) top center repeat-y*/ #fff; /* Uncomment to display the grid */
	border-top:none;
	padding:0 1em;
}
.generic strong{
	font-variant: normal;
	font-weight: 700;
}
input{
	padding:2px 5px;
	height:20px;
	border:1px solid #666;
	border-radius: 1em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	min-width:150px;
	}
label{
	display:block
}

div.input{
	padding:0 2px 8px 0; 
}
button{
	padding:2px 5px;
	}
	
#header h1{
	font-family:sans-serif;
	font-style: normal;
	font-size:70px;
	background: url('../images/questionbank.png') no-repeat center left;
	text-indent: -5000px
}